@import './node_modules/sass-bem-mixins/index.scss';
@import './node_modules/sass-media-queries/index.scss';
@import './node_modules/sass-theme-defaults/index.scss';

$navbar: #303030;

.always-show {
  @include smq__all-mobile() {
    display: block !important;
  }

  @include smq__not-mobile() {
    display: block !important;
  }
}

.always-hide {
  @include smq__all-mobile() {
    display: none !important;
  }

  @include smq__not-mobile() {
    display: none !important;
  }
}

.angular-navbar {
  @extend .center-children-vertical;

  width: 100%;
  background-color: $navbar;
  color: $inverse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 55px;


  //Desktop Top Nav

  @include element('desktop') {
    @extend .center-children-vertical;

    //Hide on mobile
    @include smq__all-mobile() {
      display: none;
    }

    //If always show
    @include modifier('always-show') {
      @include smq__all-mobile() {
        display: flex !important;
      }

      @include smq__not-mobile() {
        display: flex !important;
      }
    }

    //If Always hide
    @include modifier('always-hide') {
      @extend .always-hide;
    }

    @include element('title') {
      font-size: 1.75em;

      @include modifier('route') {
        font-size: 1.75em;
        cursor: pointer;
      }
    }

    @include element('list') {

      padding-left: 0px;
      /* Remove Bullets */
      list-style-type: none;
      margin-left: 10px;
      display: inline-block;

      @include element('item') {
        font-size: 1.5em;
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;

        //Underline when the route is active
        @include modifier('active') {
          border-bottom: solid 2px $inverse;
        }
      }
    }
  }

  //Mobile Sidenav
  @include element('mobile') {

    //Hide on desktop
    @include smq__not-mobile() {
      display: none;
    }

    //If always show
    @include modifier('always-show') {
      @extend .always-show;
    }

    //If Always hide
    @include modifier('always-hide') {
      @extend .always-hide;
    }

    //Hamburger menu
    @include element('hamburger') {
      border: solid 2px $inverse;
      border-radius: 5px;
      cursor: pointer;

      margin-left: 10px;

      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 10px;

      @include element('bar') {
        border-bottom: solid 2px $inverse;
        height: 5px;
        width: 30px;
      }

      @include modifier('nav-active') {

      }
    }

    //Semi Transparent overlay behind sidenav
    @include element('shade') {
      position: fixed;
      top: 0;
      left: 0;

      visibility: hidden;
      z-index: -9999;
      background-color: $standard;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      //Cover the entire screen
      min-width: 110%;
      min-height: 102%;
      margin-left: -5%;
      margin-top: -1%;

      @include modifier('nav-active') {
        visibility: visible;
        opacity: 0.5;
        z-index: 1;
      }
    }

    @include element('sidenav') {
      position: fixed;
      top: 0;
      left: 0;

      transform: translate(-500px, 0);
      transition: transform 0.5s ease-in-out;
      min-height: 100%;
      min-width: 275px;
      max-width: 275px;
      background-color: $navbar;
      z-index: 2;

      //Show the navbar
      @include modifier('nav-active') {
        transform: translate(0px, 0);
      }

      @include element('title') {
        font-size: 1.75em;
        display: block;
        margin-top: 20px;

        @include modifier('route') {
          font-size: 1.75em;
          cursor: pointer;
          margin-top: 20px;
        }
      }

      @include element('list') {

        padding-left: 0px;
        /* Remove Bullets */
        list-style-type: none;
        margin-top: 0px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;

        @include element('item') {
          font-size: 1.5em;
          cursor: pointer;
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;

          //Underline when the route is active
          @include modifier('active') {
            display: block;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
