.smq__mobile {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .smq__mobile {
    display: block;
  }
}

.smq__tablet {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .smq__tablet {
    display: block;
  }
}

.smq__desktop {
  display: none;
}

@media (min-width: 1024px) {
  .smq__desktop {
    display: block;
  }
}

.smq__large-desktop {
  display: none;
}

@media (min-width: 1440px) {
  .smq__large-desktop {
    display: block;
  }
}

.smq__all-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .smq__all-mobile {
    display: block;
  }
}

.smq__not-mobile {
  display: none;
}

@media (min-width: 1024px) {
  .smq__not-mobile {
    display: block;
  }
}

.smq__all-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .smq__all-desktop {
    display: block;
  }
}

.smq__not-desktop {
  display: none;
}

@media (max-width: 1024px) {
  .smq__not-desktop {
    display: block;
  }
}

.center, .center-text {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-children-horizontal {
  display: flex;
  justify-content: center;
}

.center-children-vertical, .angular-navbar, .angular-navbar__desktop, .angular-navbar__desktop--always-show, .angular-navbar__desktop--always-hide {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .always-show, .angular-navbar__mobile--always-show {
    display: block !important;
  }
}

@media (min-width: 1024px) {
  .always-show, .angular-navbar__mobile--always-show {
    display: block !important;
  }
}

@media (max-width: 1024px) {
  .always-hide, .angular-navbar__desktop--always-hide, .angular-navbar__mobile--always-hide {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .always-hide, .angular-navbar__desktop--always-hide, .angular-navbar__mobile--always-hide {
    display: none !important;
  }
}

.angular-navbar {
  width: 100%;
  background-color: #303030;
  color: #F9F9F9;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 55px;
}

@media (max-width: 1024px) {
  .angular-navbar__desktop, .angular-navbar__desktop--always-show, .angular-navbar__desktop--always-hide {
    display: none;
  }
}

@media (max-width: 1024px) {
  .angular-navbar__desktop--always-show {
    display: flex !important;
  }
}

@media (min-width: 1024px) {
  .angular-navbar__desktop--always-show {
    display: flex !important;
  }
}

.angular-navbar__desktop__title, .angular-navbar__desktop__title--route {
  font-size: 1.75em;
}

.angular-navbar__desktop__title--route {
  font-size: 1.75em;
  cursor: pointer;
}

.angular-navbar__desktop__list {
  padding-left: 0px;
  /* Remove Bullets */
  list-style-type: none;
  margin-left: 10px;
  display: inline-block;
}

.angular-navbar__desktop__list__item, .angular-navbar__desktop__list__item--active {
  font-size: 1.5em;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.angular-navbar__desktop__list__item--active {
  border-bottom: solid 2px #F9F9F9;
}

@media (min-width: 1024px) {
  .angular-navbar__mobile, .angular-navbar__mobile--always-show, .angular-navbar__mobile--always-hide {
    display: none;
  }
}

.angular-navbar__mobile__hamburger, .angular-navbar__mobile__hamburger--nav-active {
  border: solid 2px #F9F9F9;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.angular-navbar__mobile__hamburger__bar {
  border-bottom: solid 2px #F9F9F9;
  height: 5px;
  width: 30px;
}

.angular-navbar__mobile__shade, .angular-navbar__mobile__shade--nav-active {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -9999;
  background-color: #050505;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  min-width: 110%;
  min-height: 102%;
  margin-left: -5%;
  margin-top: -1%;
}

.angular-navbar__mobile__shade--nav-active {
  visibility: visible;
  opacity: 0.5;
  z-index: 1;
}

.angular-navbar__mobile__sidenav, .angular-navbar__mobile__sidenav--nav-active {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-500px, 0);
  transition: transform 0.5s ease-in-out;
  min-height: 100%;
  min-width: 275px;
  max-width: 275px;
  background-color: #303030;
  z-index: 2;
}

.angular-navbar__mobile__sidenav--nav-active {
  transform: translate(0px, 0);
}

.angular-navbar__mobile__sidenav__title, .angular-navbar__mobile__sidenav__title--route {
  font-size: 1.75em;
  display: block;
  margin-top: 20px;
}

.angular-navbar__mobile__sidenav__title--route {
  font-size: 1.75em;
  cursor: pointer;
  margin-top: 20px;
}

.angular-navbar__mobile__sidenav__list {
  padding-left: 0px;
  /* Remove Bullets */
  list-style-type: none;
  margin-top: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.angular-navbar__mobile__sidenav__list__item, .angular-navbar__mobile__sidenav__list__item--active {
  font-size: 1.5em;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.angular-navbar__mobile__sidenav__list__item--active {
  display: block;
  text-decoration: underline;
}
